<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>輕小說站下載器</title>
    <link rel="stylesheet" href="http://localhost:$port/css/global.css">
</head>
<body>
<div id="core">
<div class="sidebar">
    <button type="button" onclick="indexFn.renderUpdateConfPage()">更改配置</button><br/>
    <button type="button" onclick="indexFn.fetchResource()">爬取列表</button><br/>
    <button type="button" onclick="indexFn.nonHandledBookList();">未處理目錄</button><br/>
    <button type="button" onclick="indexFn.allBookList();">原始目錄</button><br/>
    <button type="button" onclick="">系列標籤匹配</button><br/>
    <button type="button" onclick="">書籍標籤匹配</button><br/>
    <button type="button" onclick="indexFn.stop();">關閉服務</button>    
</div>
<div class="content">
<div class="top"></div>
<div class="display-area"></div>
</div>
</div>
<script>
    var port = $port;
</script>
<script src="http://localhost:$port/js/pub_sub.js"></script>
<script src="http://localhost:$port/js/render.js"></script>
<script src="http://localhost:$port/js/index.js"></script>
<script>indexFn.firstInit($port);</script>
</body>
</html>